@model List<htmx_todo.Service.Todo.DateGroupedTodoResponse>

<div>
    @await Html.PartialAsync("_TodoGallery", Model)
    <dialog>
        <article>
            <header>
                <button aria-label="Close" rel="prev"></button>
                <p>
                    <strong>Create new task</strong>
                </p>
            </header>
            <form>
                <fieldset>
                    <input
                        name="title"
                        placeholder="Title"
                        aria-label="Title"
                        autocomplete="title"/>
                    <input
                        name="description"
                        placeholder="Description"
                        aria-label="Description"
                        autocomplete="current-description"/>
                    <input type="date" name="DueDate" aria-label="Date">
                </fieldset>
            </form>
            <footer>
                <button class="secondary">
                    Cancel
                </button>
                <button>Confirm</button>
            </footer>
        </article>
    </dialog>
</div>