@model List<htmx_todo.Service.Todo.DateGroupedTodoResponse>

<div class="todo-gallery">
    @foreach (var todoGroup in Model)
    {
        <div class="todo-group">
            <div class="todo-group-header">
                <h5>@todoGroup.DueDate.ToString("MMMM d, yyyy")</h5>
            </div>
            @foreach (var todo in todoGroup.TodoList)
            {
                @await Html.PartialAsync("_TodoCard", todo)
            }
        </div>
    }
</div>
