
header {
    background: var(--primary);
    border-bottom: 1px solid var(--secondary);
    position: sticky;
    top: 0;
}

header > nav {
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 6rem 0.75rem 6rem;
}

.nav-brand > a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: var(--text-primary);
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav-buttons > .create-task {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: var(--text-secondary);

    padding: 6px;
    width: 120px;
    margin-right: 16px;
    
    cursor: pointer;
}
