
:root {
    --primary: #222831;
    --secondary: #393E46;
    --tertiary: #948979;
    --quarternary: #DFD0B8;
    
    --text-primary: #e5e5e5;;
}

html, body {
    margin: 0;
    overflow-x: hidden;
    background: var(--primary)
}

main {
    padding: 4rem 6rem;
}

.article-group-header {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #e5e5e5;
}
