
:root {
    --primary: #222831;
    --secondary: #393E46;
    --text-primary: #e5e5e5;
    --text-secondary: #1c1c1c;
    
    --edit-primary: #222831;
    --edit-secondary: #191d24;
    
    --delete-primary: #d95950;
    --delete-secondary: #8c3731;
}

html, body {
    margin: 0;
    overflow-x: hidden;
    background: var(--primary)
}

main {
    padding: 3rem 6rem;
}

.article-group-header {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #e5e5e5;
}
