
article.todo-card {
    font-family: "Roboto", sans-serif;
    color: var(--text-primary);
    background: var(--primary);
    
    border-radius: 6px;
    border: 1px solid var(--secondary);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    
    max-width: 1000px;
    min-width: 600px;
}

article.todo-card > div.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 0 24px 24px;
}

article.todo-card > div.info > h3 {
    padding-bottom: 8px;
}

article.todo-card > div.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16px;
    gap: 12px;
}

article.todo-card > div.buttons > button {
    padding: 6px;
    width: 120px;
}

button.edit {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: var(--text-primary);
    background-color: var(--edit-primary);
    border: 2px solid var(--secondary);
    border-radius: 4px;
    cursor: pointer;
}

button.edit:hover {
    background-color: var(--edit-secondary);
}

button.delete {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: var(--text-primary);
    background-color: var(--delete-primary);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.delete:hover {
    background-color: var(--delete-secondary);
}
