
div.todo-gallery {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

div.todo-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

div.todo-group-header {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: var(--text-primary);
    
    padding: 1rem 0 0 4px;
}