<header>
    <nav>
        <div class="nav-brand">
            <a asp-area="" asp-controller="Todo" asp-action="Index">
                <h2>HTMX-ToDo</h2>
            </a>
        </div>
        <div class="nav-buttons">
            <a asp-area="" asp-controller="Todo" asp-action="Index"><h4>Home</h4></a>
            <a asp-area="" asp-controller="Todo" asp-action="Index"><h4>About</h4></a>
            <a asp-area="" asp-controller="Todo" asp-action="Index"><h4>Contact</h4></a>
        </div>
    </nav>
</header>