<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Todo | @ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/bundle.css" asp-append-version="true"/>
    <script type="importmap"></script>
    <script src="~/js/htmx.min.js" asp-append-version="true"></script>
</head>
<body>
<partial name="_Header" />
<div>
    <main role="main">
        @RenderBody()
    </main>
</div>
<footer>
</footer>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>