<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Todo | @ViewBag.Title</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/bundle.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <strong>
                    <a asp-area="" asp-controller="Todo" asp-action="Index" class="contrast">
                        <h2>
                            Todo
                        </h2>
                    </a>
                </strong>
            </li>
        </ul>
        <ul>
            <li><a asp-area="" asp-controller="Todo" asp-action="Index" class="contrast">Home</a></li>
            <li><a asp-area="" asp-controller="Todo" asp-action="Index" class="contrast">About</a></li>
            <li><a asp-area="" asp-controller="Todo" asp-action="Index" class="contrast">Contact</a></li>
        </ul>
    </nav>
</header>
<div>
    <main role="main">
        @RenderBody()
    </main>
</div>
<footer>
</footer>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>