@model List<htmx_todo.Domain.Todos.Responses.DateGroupedTodoResponse>

<div class="todo-gallery" id="todo-gallery">
    <div id="todo-create-wrapper"></div>
    @foreach (var todoGroup in Model)
    {
        <div class="todo-group">
            <div class="todo-group-header">
                <h5>@todoGroup.DueDate.ToString("MMMM d, yyyy")</h5>
            </div>
            @foreach (var todo in todoGroup.TodoList)
            {
                <div id="todo-@todo.Id">
                    @await Html.PartialAsync("_TodoCard", todo)
                </div>
            }
        </div>
    }
</div>
