@model htmx_todo.Domain.Todos.Responses.TodoResponse

<article class="todo-card">
    <div class="info">
        <h3><strong>@Model.Title</strong></h3>
        <p>@Model.Description</p>
    </div>
    <div class="buttons">
        <button
            class="edit"
            hx-get="/todos/@Model.Id/edit"
            hx-target="#todo-@Model.Id"
        >
            Edit
        </button>
        <button class="delete">Delete</button>
    </div>
</article>